<div class="container mt-5 pb-5">
  <h2>Welcome to the best app ever!</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum mollitia iusto dolorem, quia! Porro delectus suscipit, et voluptatum molestias, voluptatibus deleniti rerum repellendus hic cumque quisquam quod, excepturi accusamus facere!</p>
  <%= link_to 'See all flats', '#', class: 'btn btn-danger'  %>
</div>
